:root {
    /* Defining our brand colors */
    --primary-color: #8760D2;  /* Your primary brand color */
    --secondary-color: #ABA3EC;  /* Your secondary brand color */
    --accent-color-1: #E7AA5C;  /* An accent color */
    --accent-color-2: #E3887D;
    --accent-color-3: #E9B9DF;
    --background-color-1: #ffffff;  /* Background color */
    --background-color-2: #D9D9D9;
    --text-color: #000000;  /* Default text color */
}
