/*
####################################
########## GENERAL STYLES ##########
####################################

These styles apply to the entire site. Consider them the default styles.
Be very careful when changing any of these styles.
*/

/* ##### DESKTOP/DEFAULT STYLES ##### */
:root {
    /* Defining our brand colors */
    --primary-color: #8760D2;  /* Your primary brand color */
    --secondary-color: #ABA3EC;  /* Your secondary brand color */
    --accent-color-1: #E7AA5C;  /* An accent color */
    --accent-color-2: #E3887D;
    --accent-color-3: #E9B9DF;
    --background-color-1: #ffffff;  /* Background color */
    --background-color-2: #D9D9D9;
    --background-color-3: #cbb9e959; 
    --text-color: #000000;  /* Default text color */
    --button-gradient-color: #6960D2;
    --shadow-color: 0, 0, 0; /* black in rgb. Important that this stays rgb */
    --left-square-gradient: linear-gradient(to right, var(--primary-color), var(--button-gradient-color));

    /* Defining our brand fonts */
    --font-primary: 'Raleway', sans-serif; /* Store the font family as a variable */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-light: 100;

    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --paragraph-font-size: 1rem;

    /* Establishing Spacing Convention */
    --spacing-x1: 4px;
    --spacing-x2: 8px;
    --spacing-x3: 12px;
    --spacing-x4: 16px;
    --spacing-x6: 24px;
    --spacing-x8: 32px;
    --spacing-x10: 40px;
    --spacing-x12: 48px;
    --spacing-x14: 56px;
    --spacing-x16: 64px;
    --spacing-x18: 72px;
    --spacing-x20: 80px;
    --spacing-x22: 88px;
    --spacing-x24: 96px;
    --spacing-x26: 104px;

    /* Styling Variables */
    --navbar-height: var(--spacing-x20);
    --side-padding: 8%;
    --drop-shadow: 0 4px 4px rgba(var(--shadow-color), 0.25);
    --inset-shadow: inset 0 4px 4px rgba(var(--shadow-color), 0.25);

    /* Defining screen sizes for responsiveness */
    --mobile-screen-width: 600px;
    --tablet-screen-width: 900px;
}

.dark-mode {
    /* Dark mode variables */
    --primary-color: #C3B9F7;
    --secondary-color: #8D80DA;
    --accent-color-1: #F9C88D;
    --accent-color-2: #F4A799;
    --accent-color-3: #F2D7EF;
    --background-color-1: #121212;
    --background-color-2: #333333;
    --background-color-3: #4c2a7959;
    --text-color: #ffffff;
    --button-gradient-color: #4F46E5;
    --shadow-color: 255, 255, 255; /* rbg for white. important that this stays in rgb not hex */
}

* {
    box-sizing: border-box; /* border-box is the default box-sizing, allowing us to use padding and border in our elements */
}


html {
    font-size: 16px; /* Default */
    min-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: var(--font-primary), sans-serif; /* Apply the primary font to the entire body */
    color: var(--text-color); /* Apply default text color */
    background-color: var(--background-color-1); /* Set background color */
    font-weight: var(--font-weight-regular); /* Set default font weight */
    margin: 0;
    padding: 0;
    line-height: 1.6; /* Optional: improves readability by increasing line spacing */
    width: 100%;
    overflow-x: hidden;
}

#__next {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    margin-top: var(--navbar-height);  /* This must match the navbar height so that it doesn't get cut off  */
    padding: 0 var(--side-padding);    /*!* Add padding to the left and right so that the content always fits on the page *! */
    height: 100%;
    flex: 1; /* This ensures that <main> will take up all the remaining space on the page, pushing the navbar to the bottom of the page */
    overflow-x: hidden;
}

h1 {
    font-size: var(--h1-font-size); /* Use custom font size */
    font-weight: var(--font-weight-bold); /* Use bold weight for h1 */
    color: var(--text-color); /* Optional: Set primary color for h1 */
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-semi-bold); /* Use semi-bold for h2 */
    color: var(--text-color); /* Optional: Set secondary color for h2 */
}

p {
    font-size: var(--paragraph-font-size);
    font-family: var(--font-primary), sans-serif; /* Use the primary font for paragraphs */
    font-weight: var(--font-weight-regular);
    color: var(--text-color); /* Apply text color for paragraphs */
}

a {
    font-size: var(--paragraph-font-size);
    text-decoration: none;
    color: var(--primary-color);
}

input[type="email"] {
    border: none;
    outline: none;
    background-color: var(--background-color-1);
    font-family: var(--font-primary), sans-serif;
}

form {
    display: flex;
    padding: 10px;
    font-size: 1rem;
    background-color: var(--background-color-1);
    /*color: white;*/
    /*border: none;*/
    border-radius: 1rem;
    /*cursor: pointer;*/
    /*transition: background-color 0.3s ease;*/
    /*box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

a:hover {
    filter: brightness(85%);
}

/* ##### MOBILE STYLES (General Styles only) ##### 
Each section will have its own mobile sub-section 
Mobile styles must appear AFTER the default/desktop style for it to work
*/

@media (max-width: 600px) {
    :root {
        --h1-font-size: 2rem;
        --h2-font-size: 1.5rem;
        --paragraph-font-size: 0.8rem;
    }

    main {
        height: 100%;
        width: 100vw;
    }
}

/*
####################################
########## UTILITY STYLES ##########
####################################

These styles change the default in special cases. They are used site-wide.
For example, adding a text accent with the text-accent class.
*/

.logo-text {
    font-size: var(--h2-font-size);
    font-family: var(--font-primary), sans-serif; /* Use the primary font for paragraphs */
    font-weight: 900;
    text-transform: none;
    text-decoration: none;

    background-image: linear-gradient(to right, var(--primary-color), var(--accent-color-3));
    color: transparent;
    background-clip: text;
}

.text-accent {
    color: var(--primary-color);
    text-shadow: 2px 2px 4px rgb(var(--shadow-color));
}

.button {
    font-size: var(--paragraph-font-size);
    font-family: var(--font-primary), sans-serif; /* Use the primary font for paragraphs */
    font-weight: var(--font-weight-regular);
    text-transform: none;
}

.button-contained {
    background-image: linear-gradient(to right, var(--primary-color), var(--button-gradient-color));
}

.button-oauth {
    background: var(--background-color-1);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 1rem;
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 0.0625rem;
}

.oauth-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.oauth-logo {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}

.button-contained:hover {
    filter: brightness(85%);
}

.button-text {
    color: var(--primary-color);
}

.container {
    width: 100%;
    display: flex;
    padding-top: var(--side-padding);
    padding-bottom: var(--side-padding);
    justify-content: center;
    align-items: center;
    height: 100%;
}

.elevated-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2rem;
    padding-bottom: 8rem;
    background: var(--background-color-1);
    box-shadow: 0 4px 4px rgba(var(--shadow-color), 0.25);
}

@media (max-width: 600px) {
    .elevated-container {
        display: flex;
        flex-direction: column;

    }
}


/*
####################################
########## LAYOUT STYLES ###########
####################################

These styles apply to elements of the page layout. They are used on every page.
For example: styles for the navbar and footer.
*/

/* ##### NAVBAR ##### */

.navbar {
    background-color: var(--background-color-1);
    width: 100%;
    height: var(--navbar-height);
    z-index: 1000;
    padding: 0 var(--side-padding);
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    box-shadow: 0 4px 4px rgba(var(--shadow-color), 0.25);  /* Offset-x, Offset-y, Blur-radius, and Color */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center elements */
    overflow-x: hidden;
}

.navbar ul {
    display: flex;
    justify-content: flex-end; /* Distribute space between left and right */
    align-items: center; /* Vertically center elements */
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: var(--spacing-x6); /* Add spacing between the menu items on the right */
}

.navbar ul li:first-child {
    margin-left: 0; /* No margin for the logo */
}

.navbar ul li a {
    text-decoration: none;
    color: var(--primary-color);
}

/* ##### FOOTER ##### */

footer {
    background-color: var(--background-color-2);
    text-align: center;
    padding: 0 var(--side-padding);
    color: #000;
    width: 100%;
    height: fit-content;
    left: 0;
    right:0;
    overflow-x: hidden;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1.5rem 0;
}

.footer-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-right {
    height: 100%;
    width: 22rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: auto;
    width: 30%;
    height: 100%;
}

.footer-column p {
    font-weight: bold;
}

.footer-column a {
    color: var(--text-color);
    margin: 0.5rem 0;
    line-height: 1.5rem;
    text-align: left;
}

.footer-column span {
    color: var(--text-color);
    margin: 0.5rem 0;
    line-height: 1.5rem;
    text-align: left;
    font-size: var(--paragraph-font-size);
}

.footer-column span:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    footer {
        height: 100%;
        width: 100vw;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-right {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer-column {
        width: 100%;
    }
}

/*
####################################
########### PAGE STYLES ############
####################################

These styles apply to specific pages.
Please label each section with the page name.
Use section labels as needed for readability.
*/

/* ##### HOME PAGE ##### */

.home-container {
    height: 100%;
    width: 100vw;
    margin: 0 calc((var(--side-padding) * -1) - 1.5%);
}

.home-title-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 30rem;
    overflow: hidden;
}

.home-content-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.square-container {
    position: relative;
    display: flex;
    width: 45rem;
    height: 100%;
    overflow: hidden;
}

.left-square {
    background: var(--left-square-gradient);
    width: 200vw;
    height: 200vh;
    transform: rotate(-25deg);
    position: relative;
    bottom: 38%;
}

.right-square {
    background: var(--left-square-gradient);
    width: 200vw;
    height: 200vh;
    transform: rotate(-25deg);
    position: relative;
    left: 85%;
    bottom: 40%;
}

.home-title {
    width: 60%;
}

.home-title h1 {
    font-weight: var(--font-weight-bold);
    line-height: 1.1;
}

.home-links {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: var(--secondary-color); */
    padding: 1.5rem;
    border-radius: 1rem;
    /* margin-top: var(--spacing-x12); */
    width: 55%;
}

.home-links a {
    font-weight: bold;
}

.feature-card {
    width: 100%;
    min-height: 20rem;
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.purple-bg {
    background-color: var(--background-color-3);
}

.feature-content {
    width: 100%;
    height: 100%;
    padding: 0 var(--side-padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.feature-content-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.feature-visual {
    min-width: 20vw;
    max-width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-visual img {
    width: 100%;
    height: 100%;
}

.feature-text {
    width: fit-content;
}

.feature-text h2 {
    margin: 0;
    line-height: 2rem;
}

.feature-text ul {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
}

.free-plan-promo {
    width: 100%;
    height: fit-content;
    border-radius: 1rem;
    padding: 3rem 0;
    margin: 3rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.free-plan-promo-signup-container {
    width: 20vw;
    min-width: fit-content;
    height: 20vw;
    min-height: fit-content;
    padding: 1rem;
    background-color: var(--background-color-1);
    border-radius: 2rem;
    border: 0.5rem solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.free-plan-price {
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width: 600px) {
    .home-container {
        min-width: 100vw;
    }

    .home-title-section {
        margin: 0;
    }

    .square-container {
        display: none;
    }

    .home-links {
        height: 5rem;
        display: flex;
        flex-direction: column;
        align-items: space-between;
    }

    .feature-card {
        flex-direction: column;
    }

    .feature-content {
        flex-direction: column;
    }

    .feature-content-container {
        flex-direction: column;
        width: 100%;
    }

    .feature-visual {
        order: 0; /* Move the visual to the top */
        padding-bottom: 1.25rem;
    }

    .feature-text {
        order: 1; /* Move the text to the bottom */
    }

    .free-plan-promo {
        flex-direction: column;
    }

    .free-plan-promo-signup-container {
        width: 60vw;
        height: 60vw;
    }
}